// Normelize file     //
@import "normolize.scss";
// Шрифты //
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Signika+Negative&display=swap");

$fz: 80px;
//      MainColors on WB        //
$color_1: rgb(32, 20, 19);
$color_2: rgb(96, 57, 53);
$color_3: rgb(168, 130, 121);
$color_4: rgb(196, 176, 167);
$color_5: rgb(248, 226, 195);
$color_bk: rgb(0, 0, 0);
$color_wt: rgb(255, 255, 255);

body {
    font-family: "Montserrat Alternates";
    color: #a4a476;
}


