// Normelize file     //
@import "normolize.scss";
// Шрифты //
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Signika+Negative&display=swap");

$fz: 80px;
//      MainColors on WB        //
//      Отредактироваить цвет 4   //
$color_1: rgb(32, 20, 19);
$color_2: rgb(96, 57, 53);
$color_3: rgb(208, 163, 153);
$color_4: rgb(196, 176, 167);
$color_5: rgb(248, 226, 195);
$color_bk: rgb(0, 0, 0);
$color_wt: rgb(255, 255, 255);

body {
    background: $color_5;
    font-family: "Montserrat Alternates";
}

h1 {
    text-align: center;
    font-size: 30px;
}

.img {
    margin: 50px 50px;
    border-radius: 50px;
    border: solid 2px black;
}

.block-1 {
    position: absolute;
    z-index: 1;
}

.block-2 {
    position: absolute;
    z-index: 0;
    margin: 150px 80px;
    padding: 30px;
    width: 1380px;
    height: 560px;
    border-radius: 60px;
    box-shadow: 6px 5px 16px 4px rgb(96 57 53 / 48%);
    background-color: $color_3;
    
}

.block-2-text {
    padding-top: 10px;
    margin-left: 100px;
    font-size: 20px;
}

.pull-of-buttons {
    display: flex;
    justify-content: end;
    margin: -10px 0 0 0;
    padding: 0 10px 0 -20px;
}

.buttons {
    margin: 80px 120px 50px 20px;
    padding: 10px;
    width: 180px;
    border-radius: 50px;
        box-shadow: 6px 5px 16px 0px rgba(96, 57, 53, 0.48);
    border: solid 2px $color_2;
    background-color: $color_3;
}

.buttons:hover {
    background-color: rgb(255, 198, 186);
}

.skills-text,
.hobby-text,
.connection-text {
    display: none;
    padding-top: 10px;
    margin-left: 100px;
    font-size: 20px;
}

.gitHub {
    // position: absolute;
    margin-left: 20px;
    padding: 10px;
}