/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Signika+Negative&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background: rgb(248, 226, 195);
  font-family: "Montserrat Alternates";
}

h1 {
  text-align: center;
  font-size: 30px;
}

.img {
  margin: 50px 50px;
  border-radius: 50px;
  border: solid 2px black;
}

.block-1 {
  position: absolute;
  z-index: 1;
}

.block-2 {
  position: absolute;
  z-index: 0;
  margin: 150px 80px;
  padding: 30px;
  width: 1380px;
  height: 560px;
  border-radius: 60px;
  -webkit-box-shadow: 6px 5px 16px 4px rgba(96, 57, 53, 0.48);
          box-shadow: 6px 5px 16px 4px rgba(96, 57, 53, 0.48);
  background-color: rgb(208, 163, 153);
}

.block-2-text {
  padding-top: 10px;
  margin-left: 100px;
  font-size: 20px;
}

.pull-of-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: -10px 0 0 0;
  padding: 0 10px 0 -20px;
}

.buttons {
  margin: 80px 120px 50px 20px;
  padding: 10px;
  width: 180px;
  border-radius: 50px;
  -webkit-box-shadow: 6px 5px 16px 0px rgba(96, 57, 53, 0.48);
          box-shadow: 6px 5px 16px 0px rgba(96, 57, 53, 0.48);
  border: solid 2px rgb(96, 57, 53);
  background-color: rgb(208, 163, 153);
}

.buttons:hover {
  background-color: rgb(255, 198, 186);
}

.skills-text,
.hobby-text,
.connection-text {
  display: none;
  padding-top: 10px;
  margin-left: 100px;
  font-size: 20px;
}

.gitHub {
  margin-left: 20px;
  padding: 10px;
}